body{
    background-color: #1b1b32;
    margin: o;
    padding: 0;
}
div{
    background-color: #1b1b32;
    margin:50px auto;
    width: 50%;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #fff;
}
label, input{
    display: block;
    margin-bottom: 10px;
}
h1{
    text-align: center;
}
h1, label{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
input{
    width: 90%;
    height: 30px;
    background-color:#0a0a23 ;
    color: #fff;
    border: 1px;
}
input[type="submit"] {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 30%;
    font-size: 17px;
    height: 40px;
    margin:auto;
    margin-top: 4%;
    cursor: pointer;
}
form{
  margin-bottom: 6%;
  padding-left: 30px;
}
